.imgInicio{
    background-image: url(../../../img/imgInicio.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}

.sectionNossaHistoria{
    background: linear-gradient(to bottom,#F5E8D0,#bb8d6871, #8b451380);
}

.txtNossaHistoria{
    font-family: 'Lora', serif;
    color: #8B4513;
}