.btnEscolha{
    background-color: #F5E8D0;
    color: #8B4513;
    border: solid 1px;
    border-radius: 4px;
}

.btnEscolha:hover{
    background-color:#8B4513 ;
    color:#F5E8D0 ;
}

.divPix{
    border: solid 1px;
    background-color: rgb(209, 212, 214);
    height: 4rem;
    font-size: 0.69rem;
}

.btnDisable{
    background-color: rgb(0, 0, 0);
}

