.numerosContagem{
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    height: 4rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

.txtContagem{
    font-family: 'Lora', serif;
    color: #8B4513;
}

@media (max-width: 500px) {
    label{
        font-size: 12px;
    }
  }
