.imgInicio{
   width: 100%;
}

.sectionNossaHistoria{
    background: linear-gradient(to bottom,#F5E8D0,#bb8d6871, #8b451380);
}

.txtNossaHistoria{
    font-family: 'Lora', serif;
    color: #8B4513;
}
.sectionInfoCasamento{
    background: linear-gradient(to bottom,#8b451380,#8b451396, #8b4513d0);
}