.boxLocalizacao{
    background-color: #F5E8D0; 
}
.boxLocalizacao h1{
    font-family: 'Lora';
    color: #394919;
}

.boxLocalizacao p{
    font-family: 'Lora';
    
}

.btnLocalizar{
    background-color: #F5E8D0;
    color: #8B4513;
    border: solid 1px;
    border-radius: 4px;   
}

.btnLocalizar:hover{
    background-color: #4d2906 ;
    color: #F5E8D0;
    transform: scale(1.03);
    
}

